In [ ]:
import redis

# Connect to Redis
r = redis.Redis(host='localhost', port=6379, db=0)

# Test connection
try:
    r.set('test_key', 'Hello from VS Code!')
    value = r.get('test_key')
    print("Value from Redis:", value.decode())
except Exception as e:
    print("Redis connection failed:", e)

Value from Redis: Hello from VS Code!

In [11]:
import redis

# Connect to Redis
r = redis.Redis(host='localhost', port=6379, db=0)

# ------------------ Create (Insert) ------------------

# Sample data for 10 users
users = {
    1: {"name": "Abish", "age": "22", "course": "MCA", "city": "Chennai", "marks": "85"},
    2: {"name": "John", "age": "21", "course": "MCA", "city": "Delhi", "marks": "78"},
    3: {"name": "Priya", "age": "23", "course": "MCA", "city": "Mumbai", "marks": "88"},
    4: {"name": "Kiran", "age": "20", "course": "MCA", "city": "Hyderabad", "marks": "90"},
    5: {"name": "Meena", "age": "22", "course": "MCA", "city": "Pune", "marks": "81"},
    6: {"name": "Raj", "age": "21", "course": "MCA", "city": "Bangalore", "marks": "77"},
    7: {"name": "Asha", "age": "24", "course": "MCA", "city": "Kolkata", "marks": "93"},
    8: {"name": "Vikram", "age": "22", "course": "MCA", "city": "Jaipur", "marks": "79"},
    9: {"name": "Sneha", "age": "23", "course": "MCA", "city": "Ahmedabad", "marks": "84"},
    10: {"name": "Ravi", "age": "21", "course": "MCA", "city": "Lucknow", "marks": "86"},
}

# Insert all users
for uid, info in users.items():
    r.hset(f"user:{uid}", mapping=info)

print("✅ 10 users inserted.")

# ------------------ Read (Retrieve) ------------------

# Get one user
user_id = 3
user_data = r.hgetall(f"user:{user_id}")
print(f"\nUser {user_id} data:")
for key, val in user_data.items():
    print(f"{key.decode()}: {val.decode()}")

# ------------------ Update ------------------

# Update marks for user 3
r.hset("user:3", "marks", 95)
print("\nUpdated marks for user 3.")

# ------------------ Delete ------------------

# Delete user 10
r.delete("user:10")
print("Deleted user 10.")

✅ 10 users inserted.

User 3 data:
name: Priya
age: 23
course: MCA
city: Mumbai
marks: 88

Updated marks for user 3.
Deleted user 10.